{% load webpack_static from webpack_loader %}
{% load pages %}

<nav class="navbar {% if request.path == "/" %}is-link{% endif %}" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                {% if request.path == "/" %}
                    <img src="{% webpack_static "img/brand/logo-round-inverted.svg" %}" alt="KSICHT" height="50" />
                {% else %}
                    <img src="{% webpack_static "img/brand/logo-round.svg" %}" alt="KSICHT" height="50" />
                {% endif %}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                {% url "core:home" as home_url %}
                {% url "core:current_grade" as current_grade_url %}
                {% url "core:grade_archive" as grade_archive_url %}
                {% url "core:event_listing" as event_listing_url %}
                {% url "core:people" as people_url %}

                <a class="navbar-item {% if request.get_full_path == current_grade_url or request.get_full_path == grade_archive_url or '/aktualni-rocnik' in request.path or '/archiv-rocniku' in request.path %}is-selected{% endif %}" href="{{ current_grade_url }}">
                    Ročníky
                </a>

                <a class="navbar-item {% if request.get_full_path == event_listing_url or '/akce' in request.path %}is-selected{% endif %}" href="{{ event_listing_url }}">
                    Akce
                </a>

                <a class="navbar-item {% if '/navody' in request.path %}is-selected{% endif %}" href="/navody/">
                    Návody
                </a>

                <a class="navbar-item {% if request.get_full_path == people_url or '/lide' in request.path %}is-selected{% endif %}" href="{{ people_url }}">
                    Organizátoři
                </a>

                {% pages_by_prefix "/info/" as infopages %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link {% if '/info/' in request.path %}is-selected{% endif %}">
                        O KSICHTu
                    </a>
                    <div class="navbar-dropdown">
                        {% for infopage in infopages %}
                        <a class="navbar-item {% if request.get_full_path == infopage.url %}is-selected{% endif %}" href="{{ infopage.url }}">
                            {{ infopage.title }}
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-user-circle"></i></span>
                        <span class="is-size-6 pl-2 has-text-weight-bold">{{ user.get_full_name|default:user.email }}</span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <div class="navbar-item is-flex-direction-column is-align-items-flex-start">
                            <p class="has-text-weight-bold">{{ user.get_full_name }}</p>
                            <p class="has-text-grey is-size-7">{{ user.email }}</p>
                        </div>
                        <hr class="navbar-divider" />
                        <a href="{% url "edit_profile" %}" class="navbar-item">
                            <i class="fas fa-id-card pr-2 has-text-link"></i> Profil
                        </a>
                        {% if user.is_participant %}
                            <a href="{% url "core:my_submissions" %}" class="navbar-item">
                                <i class="fas fa-tasks pr-2 has-text-link"></i> Moje řešení
                            </a>
                            <a href="{% url "core:my_events" %}" class="navbar-item">
                                <i class="fas fa-calendar-check pr-2 has-text-link"></i> Moje akce
                            </a>
                        {% endif %}
                        {% if user.is_staff %}
                            <hr class="navbar-divider">
                            <a href="{% url "core:organizers" %}" class="navbar-item has-text-weight-semibold">
                                <i class="fas fa-tools pr-2 has-text-warning"></i> Organizátorská sekce
                            </a>
                            <a href="{% url "admin:index" %}" class="navbar-item">
                                <i class="fas fa-cog pr-2 has-text-grey"></i> Administrace
                            </a>
                        {% endif %}
                        <hr class="navbar-divider" />
                        <div class="navbar-item">
                            <form method="post" action="{% url "logout" %}" class="is-flex is-flex-grow-1">
                                {% csrf_token %}
                                <button class="button is-danger is-outlined is-small is-fullwidth"><strong>Odhlásit se</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url "django_registration_register" %}">
                            <strong>Registrace</strong>
                        </a>
                        <a class="button is-light" href="{% url "login" %}">
                            Přihlášení
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
