psycopg2-binary==2.9.11
Django==5.2.12
dsnparse==0.4.0
django-crispy-forms==2.5
crispy-bulma==0.12.0
django-webpack-loader==3.2.3
django-markdownx==4.0.9
django-markdown-deux==1.0.6
django-minify-html==1.14.0
django-capture-tag
django-registration==5.2.1
django-username-email==2.5.7
django-imagekit==6.1.0
django_select2==8.4.8
gunicorn==25.1.0
pydash==8.0.6
pypdf==6.9.1
pdfrw==0.4
reportlab==4.4.10
pillow==12.1.1
# https://github.com/matthewwithanm/django-imagekit/issues/569
pilkit==3.0
# Fix for https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
# markdownx installs old version of markdown which breaks the app
Markdown==3.10.2
django-cabinet==0.18.1
sentry-sdk==2.53.0
