{% extends "focused.html" %}
{% load crispy_forms_tags %}
{% load webpack_static from webpack_loader %}

{% block headline %}{% block page_title %}Přihlášení{% endblock %}{% endblock %}

{% block container %}
<div class="box">
  {% crispy form %}
</div>
<p class="has-text-centered mt-4">
  <a href="{% url "django_registration_register" %}">Registrace</a> &nbsp;·&nbsp;
  <a href="{% url "password_reset" %}">Zapomenuté heslo</a> &nbsp;·&nbsp;
  <a href="{% url "core:home" %}">Úvod</a>
</p>
{% endblock %}

