{% extends "focused.html" %}
{% load crispy_forms_tags %}

{% block headline %}{% block page_title %}Obnova hesla{% endblock %}{% endblock %}

{% block container %}
    {% if form %}
        {% crispy form %}
    {% else %}
        <article class="message is-warning is-light" style="border-radius: 0.5rem;">
            <div class="message-body is-size-6">
                <p>
                    <i class="fas fa-exclamation-triangle pr-1 has-text-warning-dark"></i>
                    Platnost tohoto odkazu vypršela. Proveď <a
                    href="{% url 'password_reset' %}" class="has-text-weight-bold">obnovu hesla znovu</a>.
                </p>
                <p class="mt-2 is-size-7 has-text-grey-dark">
                    V případě, že problém přetrvává, nám napiš na
                    <a href="mailto:ksicht@natur.cuni.cz" class="has-text-weight-bold">ksicht@natur.cuni.cz</a>.
                </p>
            </div>
        </article>
    {% endif %}
{% endblock %}
