{% extends "focused.html" %}
{% load crispy_forms_tags %}
{% load webpack_static from webpack_loader %}

{% block headline %}{% block page_title %}Aktivace účtu{% endblock %}{% endblock %}

{% block container %}
    {% if activation_error %}
        {% if activation_error.code == "already_activated" %}
            <article class="message is-info is-light mb-4" style="border-radius: 0.5rem;">
                <div class="message-body is-size-6">
                    <i class="fas fa-info-circle pr-2 has-text-info"></i>
                    Účet byl již aktivován. Můžeš se <a href="{% url 'login' %}" class="has-text-weight-bold">přihlásit</a>.
                </div>
            </article>
        {% elif activation_error.code == "bad_username" %}
            <article class="message is-warning is-light mb-4" style="border-radius: 0.5rem;">
                <div class="message-body is-size-6">
                    <i class="fas fa-exclamation-triangle pr-2 has-text-warning-dark"></i>
                    Uživatel nebyl nalezen. Pro více informací nás kontaktuj přes e-mail na <a href="mailto:ksicht@natur.cuni.cz" class="has-text-weight-bold">ksicht@natur.cuni.cz</a>.
                </div>
            </article>
        {% endif %}
    {% endif %}

    {% if is_form_invalid %}
        <article class="message is-danger is-light mb-4" style="border-radius: 0.5rem;">
            <div class="message-body is-size-6">
                <i class="fas fa-times-circle pr-2 has-text-danger"></i>
                Aktivační klíč je neplatný. Pro více informací nás kontaktuj přes e-mail na <a href="mailto:ksicht@natur.cuni.cz" class="has-text-weight-bold">ksicht@natur.cuni.cz</a>.
            </div>
        </article>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.activation_key.as_hidden }}
        <button type="submit" class="button is-primary">Aktivovat</button>
    </form>
{% endblock %}

{% block after_body %}
    <script src="{% webpack_static "js/user-form.js" %}"></script>
{% endblock %}
