{% extends "focused.html" %}

{% block headline %}{% block page_title %}Hotovo{% endblock %}{% endblock %}
{% block header_sub %}<p class="subtitle">Registrace byla úspěšná.</p>{% endblock %}

{% block container %}
    <article class="message is-success is-light" style="border-radius: 0.5rem;">
        <div class="message-body is-size-6">
            <p>
                <i class="fas fa-check-circle pr-2 has-text-success"></i>
                Zkontroluj, prosím, svoji e-mailovou schránku, kam jsme ti poslali <strong>ověřovací e-mail</strong>. Ten je nutné potvrdit pro dokončení registrace.
            </p>
            <p class="mt-3 is-size-7 has-text-grey-dark">
                Doručení registračního e-mailu může trvat několik minut. Pokud ti nepřišel do schránky, zkontroluj si prosím složku s nevyžádanou poštou. V případě potíží nás kontaktuj na <a href="mailto:ksicht@natur.cuni.cz" class="has-text-weight-bold">ksicht@natur.cuni.cz</a>.
            </p>
        </div>
    </article>
{% endblock %}

