{% extends "page.html" %}
{% load stickers %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=object.grade_id %}">Ročník {{ object.grade }}</a></li>
            <li><a href="{% url "core:series_detail" grade_id=object.grade_id pk=object.id %}">{{ object }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Přehled přiřazených nálepek</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Přehled přiřazených nálepek{% endblock %}
{% block header_sub %}<h3 class="subtitle">pro ročník {{ object.grade }}</h3>{% endblock %}

{% block article %}
    <div class="mb-5 is-flex is-justify-content-space-between is-align-items-flex-end">
        <p class="is-size-7 has-text-grey">
            <span class="tag is-dark is-small"><b>X</b></span> automaticky přiřazená &emsp;
            <span class="tag is-link is-small"><b>X</b></span> ručně přiřazená &emsp;
            <span class="tag is-danger is-small"><b>X</b></span> přidána po zveřejnění výsledků &emsp;
            <span class="tag is-dark is-small is-light"><b>X</b></span>
            <span class="tag is-link is-small is-light"><b>X</b></span>
            <span class="tag is-danger is-small is-light"><b>X</b></span> již udělená (porušuje limit přiřazení) &emsp;
        </p>
        
        <form method="post" action="{% url 'core:series_sticker_assignment_overview' grade_id=object.grade_id pk=object.id %}" onsubmit="return confirm('{% if object.results_published %}POZOR: Výsledky této série jsou již zveřejněny! Přepočítání může přidat nové nálepky účastníkům. Opravdu chcete pokračovat?{% else %}Opravdu chcete přepočítat automatické nálepky pro tuto sérii?{% endif %}');">
            {% csrf_token %}
            <button type="submit" class="button {% if object.results_published %}is-danger{% else %}is-warning{% endif %} is-small">
                <span class="icon is-small"><i class="fas fa-sync-alt"></i></span>
                <span>Přepočítat nálepky</span>
            </button>
        </form>
    </div>
    <div class="table-container">
        <table class="table is-fullwidth sticker-table">
            <tbody>
                {% for application, data in results.items %}
                <tr>
                    <td class="is-size-5 has-text-right has-text-weight-bold">{{ application.participant.get_full_name }}</td>
                    <td>
                        <div class="tag-list">
                            {% for s, grayed, label, after_pub in data.eligible %}
                                {% sticker s grayed label after_publication=after_pub %}
                            {% endfor %}
                            {% if data.grayed %}
                                <!-- <span class="has-text-grey is-size-7 mx-2">Již udělené:</span> -->
                                {% for s, grayed, label, after_pub in data.grayed %}
                                    {% sticker s grayed label after_publication=after_pub %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
