.tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
    margin: 0;

    .tags {
        margin-bottom: 0;
    }

    .tag {
        margin-bottom: 0;
    }
}
