.content-readable {
    max-width: 60em;
}

.gap-0, .is-gap-0 { gap: 0 !important; }
.gap-1, .is-gap-1 { gap: 0.25rem !important; }
.gap-2, .is-gap-2 { gap: 0.5rem !important; }
.gap-3, .is-gap-3 { gap: 0.75rem !important; }
.gap-4, .is-gap-4 { gap: 1rem !important; }
.gap-5, .is-gap-5 { gap: 1.5rem !important; }

